<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <title>To Do List</title>
</head>

<body>

    <header>

        <% if (task==null) { %>
            <h1>TO DO LIST</h1>
            <form action="/create" method="post">
                <input type="text" name="task" id="task" placeholder="Insira uma tarefa">
                <button id="addButton" type="submit">Adicionar</button>
            </form>
            <% } else { %>
                <h1>EDITAR TAREFA</h1>
                <form action="/updateOne/<%= task._id %>" method="post">
                    <input type="text" name="task" id="task" value="<%= task.task %>">
                    <button id="updateButton" type="submit">Atualizar</button>
                </form>
                <% } %>

    </header>

    <section id="tasks">
        <ul>
            <% tasksList.forEach((task)=>{ %>
                <li>
                    <div>
                        <a href="/"><%= task.task %></a>
                        <span>Criado em <%= task.date.toLocaleDateString('pt-BR') %></span> 
                    </div>
                    
                    <div>
                        <a class="btnUpdate" href="/getById/<%= task._id %>/update"><i class="bi bi-pencil-square"></i></a>
                        <a class="btnDelete" href="/getById/<%= task._id %>/delete"><i class="bi bi-trash"></i></a>
                    </div>
                </li>
            <% }) %>
        </ul>
    </section>

    <% if (taskDelete !=null) { %>
        <section id="modal">
            <div id="card">

                <div id="head">
                    <h2>Confirmação</h2>
                    <a id="close" href="/"><i class="bi bi-x"></i></a>
                </div>
                
                <hr>
                <p>Deseja realmente apagar a tarefa: <%= taskDelete.task %>? </p>
                <div id="btns">
                    <a id="btnNot" href="/">Não</a>
                    <a id="btnYes" href="/deleteOne/<%= taskDelete._id %>">Sim</a>
                </div>
            </div>
        </section>
        <% } %>


            <script src="script.js"></script>
</body>

</html>